#header {
    padding-top: 15px;
    padding-bottom: 15px;
}

.pull-left {
    display: flex;
}

/*----------------------------*\
	logo
\*----------------------------*/

.header-logo {
    display: inline-block;
    margin-right: 15px;
}

.header-logo .logo>img {
    width: 100%;
    max-height: 70px;
}

/*----------------------------*\
	Search header
\*----------------------------*/

.header-search {
    display: inline-block;
    padding: 15px 0px;
    max-width: 400px;
}

.header-search>form {
    position: relative;
}

.header-search>form .search-input {
    padding-left: 15px;
    padding-right: 45px;
    width: 350px;
}

.header-search>form .search-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
}

/*----------------------------*\
	Account header
\*----------------------------*/

.header-btns>li {
    display: inline-block;
    vertical-align: top;
    padding: 15px 0px;
}

.header-btns>li+li {
    margin-left: 15px;
}

.header-btns>li .header-btns-icon {
    position: relative;
    float: left;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #30323A;
    background-color: #FFF;
    border: 1px solid #DADADA;
}

.header-btns .dropdown-toggle {
    display: block;
    cursor: pointer;
}

.header-account.dropdown .custom-menu>li>a>i {
    margin-right: 15px;
    color: #cd1818;
}

/*----------------------------*\
	Cart header
\*----------------------------*/

.header-cart .header-btns-icon .qty {
    position: absolute;
    right: -9px;
    top: -9px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 10px;
    background: #cd1818;
    color: #FFF;
    border-radius: 50%;
}

