.list-group {
  margin-bottom: 0px;
}

.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.list-group-item {
  border-right: 0px;
  border-left: 0px;
}

.list-group-item:last-child {
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
}

.list-group-item {
  padding: 15px;
}

.box-all:hover .quick-view {
  width: 120px;
}

.box-all .quick-view {
  width: 120px;
}

.cart-size {
  font-size: 10px;
}

.box-height {
  height: 372px;
}